<section>
    <app-slider></app-slider>
</section>

<section id="contenidos">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt natus assumenda possimus pariatur 
        inventore repellendus, amet eum aliquam enim perspiciatis alias, facere dolore quam quae. Doloremque 
        sint aspernatur quibusdam ab.lore Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt 
        natus assumenda possimus pariatur inventore repellendus, amet eum aliquam enim perspiciatis alias, 
        facere dolore quam quae. Doloremque sint aspernatur quibusdam ab.lore Lorem ipsum, dolor sit amet 
        consectetur adipisicing elit. Deserunt natus assumenda possimus pariatur inventore repellendus, 
        amet eum aliquam enim perspiciatis alias, facere dolore quam quae. Doloremque sint aspernatur 
        quibusdam ab.lore Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum ex ea iste enim 
        ero, facere assumenda repudiandae laborum rerum doloremque temporibus consequuntur dolorum, fugiat 
        reiciendis voluptate consequatur dolore optio quas!</p>
</section>
